.grid {
    
	width: 300px;
	height: 300px;
	border: solid rgb(0, 40, 173) 1px;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: 20px;
	height: 20px;
}

.invader {
	background-color: rgb(102, 255, 0);
	border-radius: 10px;
}

.shooter {
    background-color: rgb(0, 0, 0);
    
}

.laser {
	background-color: rgb(0, 247, 255);
}

.boom {
	background-color: rgb(255, 115, 0);
}
.boom {
	background-color: rgb(255, 81, 0);
}
